<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my Cart - eShop</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="/images/logo.png" width="125px">
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/all-products">Products</a></li>
                <li><a href="/mon-panier">My Cart</a></li>
                <li><a href="/mes-commandes">Orders</a></li>
            </ul>
        </nav>
        <img src="/images/cart.png" width="30px" height="30px">
        <img src="/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
</div>

<!---------cart---------->

<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr th:each="product : ${productFinal}">
            <td>
                <div class="cart-info">
                    <img th:src="${product.getProductBean().getIllustration()}"/>
                    <div>
                        <p th:text="${product.getProductBean().getName()}"></p>
                        <small><span th:text="| Price : ${product.getProductBean().getPrice()}|"></span>€</small>
                        <br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td th:text="${product.getQuantity()}"></td>
            <td th:text="${product.getTotalPrice()}"></td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td><span th:text="${totalPrice}"></span>€</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>0.00€ <br>(on est gentil)</td>
            </tr>
            <tr>
                <td>Total</td>
                <td><span th:text="${totalPrice}"></span>€</td>
            </tr>
        </table>
    </div>
</div>

<!---------buttons--------->
<div class="button-page">
        <a href="/all-products" class="btn"> &larr; Back to Shop </a>
        <a th:href="@{|/validation-commande/${cart.getId()}|}" class="btn">PAYEEEEE &rarr;</a>
</div>

<!---------footer---------->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios Mobile phone</p>
                <div class="app-logo">
                    <a href="https://play.google.com/store/apps/details?id=fr.gouv.android.stopcovid"><img src="/images/play-store.png"></a>
                    <a href="https://apps.apple.com/app/id1511279125"><img src="/images/app-store.png"></a>
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/images/logo-white.png">
                <p>Our Purpose Is To Get The Better Mark</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Us</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <a href="https://www.facebook.com/hashtag/covid19"><li>Facebook</li></a>
                    <a href="https://twitter.com/StopCovidApp"><li>Twitter</li></a>
                    <a href="https://www.gouvernement.fr/info-coronavirus"><li>Covid-19</li></a>
                    <a href="https://www.gouvernement.fr/info-coronavirus/tousanticovid"><li>Stop Covid-19</li></a>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <p class="copyright">Copyright 2020 - Groupe 5 MBDS </p>
</div>

<!--------js for toggle menu---------->
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";

    function menutoggle(){
        if(MenuItems.style.maxHeight == "0px"){
            MenuItems.style.maxHeight = "200px";
        }
        else{
            MenuItems.style.maxHeight = "0px";
        }
    }

</script>

</body>
</html>