<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Product</a></li>
            <li><a href="/mon-panier">Cart</a></li>
            <li><a href="/mes-commandes">Order</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="py-2 w-100 d-flex justify-content-between">
            <div>
                <h1 class="pt-2">My Card</h1>
                <div>Total Price :<b th:text="|${totalPrice} |"></b>€</div>
            </div>


        </div>

        <!-----chaque produit----->

        <div th:each=" productFinalBean : ${productFinalBeanList}" class="my-1">
            <div class="list-group">
                <div class="d-flex list-group-item list-group-item-action ">
                    <div class="mr-3">
                        <img width="150px" th:src="${productFinalBean.getProductBean().getIllustration()}" class="img-fluid"/>
                    </div>
                    <div class="w-100 flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 th:text="${productFinalBean.getProductBean().getName()}"></h5>
                            <b><span th:text="|Unity Price: ${productFinalBean.getProductBean().getPrice()} |"></span>€</b>
                            <b><span th:text="|Total Price: ${productFinalBean.getTotalPrice()} |"></span>€</b>
                            </span>

                        </div>
                        <div class="w-100 flex-column align-items-start">
                            <p th:text="${productFinalBean.getProductBean().getDescription()}"></p>
                            <div class="d-flex w-100 justify-content-between">
                                <small th:text="|Quantity : ${productFinalBean.getQuantity()}|"></small>
                                <button class="btn disabled btn-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>