<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css} "/>
</head>
<body>
<div class="container">
    <h1>Details</h1>
    <div class="row">
        <ul>
            <li><img th:src="${product.illustration}" class="card-img-top"/></li>
            <br />
            <li><label>Name : </label>
                <p th:text="${product.name}"></p></li>
            <br />
            <li><label>Description :</label>
                <p th:text="${product.description}" class="align-text-bottom"></p></li>
            <br />
            <li><label>Price : </label>
                <p th:text="${product.price}"></p></li>

            <form class="ml-3" th:action="|/add-cart/${product.getId()}|" th:object="${product}">
                <select className="form-control px-3  w-100" name="quantity">
                    <option value="1">x 1 produit</option>
                    <option value="2">x 2 produits</option>
                    <option value="3">x 3 produits</option>
                    <option value="4">x 4 produits</option>
                </select>
                <button type="submit" class="mx-3 btn btn-primary">Ajouter au panier</button>
            </form>
        </ul>
    </div>
</div>
<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>